@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    @apply bg-gray-100;
}

body {
    /* fix: pad browser scrollbar width  */
    margin-right: calc(-1 * (100vw - 100%));
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
}
